:root {
--background-color: #171717;
--primary-color: #00D146;
--secundary-color: #D1D1D1;
--font-family: 'Ubuntu', sans-serif;
--font-size: 14px;
}

@font-face {
    font-family: Ubuntu;
    src: url(https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Saira+Condensed:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap);
}

body {
    background-color: var(--background-color); /* Vervang deze kleurcode door de gewenste kleur */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* max-width: 414px; Maximale breedte van de body */
    margin-left: auto; /* Centreren van de body op het scherm */
    margin-right: auto;
    overflow-x: hidden; /* Verbergt horizontale schuifbalken */
    overflow-y: auto; /* Toont verticale schuifbalken indien nodig */
}

.container-1 {
    display: none;
}

h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 4em;
    margin-left: 1.4em;
    margin-right: 1.5em;
    display: block;
    padding-bottom: 0.3em;
    border-bottom: 0.15em solid var(--primary-color);
}

p {
    color: var(--primary-color);
    margin-left: 3em;
    margin-right: 3em;
    font-family: var(--font-family);
    font-size: var(--font-size);
    display: block;
}

.profielen {
    max-width: 414px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    min-height: 70em;
    width: 100%; /* Zorgt ervoor dat de afbeeldingen de volledige breedte van de sectie innemen */
}

section h2 {
    margin-top: 3em;
    margin-bottom: 1em;
    color: var(--secundary-color);
}

.profielen img {
    margin-bottom: 2em; /* Ruimte tussen de afbeeldingen */
    border-radius: 7%;
    width: 350px;
}

.profielen img:first-child {
    margin-top: 10em;
}

button {
    background-color: #171717;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    width: 48px;
    height: 48px;
    left: 57em;
    top: 2em;
    background: rgba(27, 27, 27, 0.85);
    border: 1px solid #585858;
    border-radius: 24px;
}

.fixed {
    position: fixed;
    top: 1.5em;
    left: 2.2em;
}

.notfixed {
    position: absolute;
    top: 3em;
    left: 5em;
}

.visible{
    display:none
}

img {
    cursor: pointer;
}

a#contactformulier {
    position: absolute;
    left: 14em;
    top: 1.5em;
    width: 10em;
    border: 0.05em solid;
    border-radius: 1.5em;
    background-color: none;
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 2.5em;
}

button#dropdownButton {
    position: absolute;
    left: 25em;
    top: 1.5em;
}

.dropdown-menu {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    top: 4.9em; 
    left: 0;
    background-color: #001717;
    padding: 0; 
}

.active {
    display: block;
    height: auto;
    margin-top: 6em;
    margin-bottom: -6em;
    animation-name: opacity;
    animation-duration: 0.3s;
    opacity: 100%;
}

/* De animatie waardoor de tekst smoother tevoorschijn komt */
@keyframes opacity {
    0% {
        opacity: 0; /* Begint volledig onzichtbaar (1) */
      }
      25% {
        opacity: 0.25; /* Halverwege half doorzichtig maken */
      }
      50% {
        opacity: 0.5
      }
      75% {
        opacity: 0.75
      }
      100% {
        opacity: 1; /* Volledig zichtbaar aan het einde */
      }
    }

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    display: block;
}

.dropdown-menu ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.dropdown-menu ul li:hover {
    background-color: var(--background-color);
}

.dropdown-menu ul li ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: var(--background-color);
}

.dropdown-menu ul li:hover > ul {
    display: block;
}

@media only screen and (min-width: 820px){
    .container-1 {
        display: flex;
        justify-content: center;
        max-width: 800px;
        margin: 0 auto;
        position: center;
    }

    .container-1 img {
        max-width: 100%;
    }
    .profielen {
        max-width: 100%;
        flex-flow: row wrap;
        gap: 2em;
    }

    .profielen img {
        max-width: 30%;
    }
}
/* Voor de grotere site!!
button {
    width: 24px;
    height: 24px;
}

nav.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav.dropdown-menu ul li {
    display: inline-block;
    position: relative;
}

nav.dropdown-menu ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

nav.dropdown-menu ul li:hover {
    background-color: #555;
}

nav.dropdown-menu ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #333;
}

nav.dropdown-menu ul li:hover > ul {
    display: block;
}

nav.dropdown-menu ul li ul li {
    display: block;
    width: 100%;
}

nav.dropdown-menu ul li ul li a {
    padding: 10px 15px;
} */