:root {
--primary-color: #00D146;
--font-family: 'Ubuntu', sans-serif;
--font-size: 14px;
}

@font-face {
    font-family: Ubuntu;
    src: url(https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Saira+Condensed:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap);
}

body {
    background-color: #171717; /* Vervang deze kleurcode door de gewenste kleur */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 414px; /* Maximale breedte van de body */
    margin-left: auto; /* Centreren van de body op het scherm */
    margin-right: auto;
    overflow-x: hidden; /* Verbergt horizontale schuifbalken */
    overflow-y: auto; /* Toont verticale schuifbalken indien nodig */
}

/* Media query voor schermen met een breedte tot 375px en hoogte tot 667px (iPhone-achtig) */
@media (max-width: 414px) and (max-height: 896px) {
    /* Aanvullende stijlen voor kleinere schermen, bijvoorbeeld voor iPhone */
    body {
        font-size: 14px;
        /* Aanvullende stijlen specifiek voor kleinere schermen */
    }
}

h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    margin-bottom: 20px;
}

p {
    color: var(--primary-color);
    margin-left: 3em;
    margin-right: 3em;
    font-family: var(--font-family);
    font-size: var(--font-size);
    display: block;
}

.blue-section {
    height: 17em;
    background-color: #001717;
    display: flex;
    align-items: center;
    min-height: 20em;
    max-width: 414px;
  }

section.profielen {
    max-width: 414px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    min-height: 70em;
    width: 100%; /* Zorgt ervoor dat de afbeeldingen de volledige breedte van de sectie innemen */
}

.profielen img {
    width: 100%;
    max-width: 350px; /* Optioneel: beperkt de maximale breedte van de afbeeldingen */
    margin-bottom: 20px; /* Ruimte tussen de afbeeldingen */
}

.profielen img:first-child {
    margin-top: 10em;
}